In [2]:
print("Sumanth Kumar")

Sumanth Kumar

In [6]:
# This is a single-line comment

"""
This is a multi-line comment.
It spans multiple lines.
Useful for documentation.
"""
print("Comment examples in Python")

Comment examples in Python

In [8]:
int_var = 10  
bool_var = True  
char_var = 'A'  
float_var = 10.5  
double_var = 20.123456789  

print("Integer:", int_var)  
print("Boolean:", bool_var)  
print("Character:", char_var)  
print("Float:", float_var)  
print("Double (handled as float in Python):", double_var)

Integer: 10
Boolean: True
Character: A
Float: 10.5
Double (handled as float in Python): 20.123456789

In [10]:
global_var = "I am a global variable"  

def my_function():
    global_var = "I am a local variable"  
    print("Inside function:", global_var)  

my_function()
print("Outside function:", global_var)

Inside function: I am a local variable
Outside function: I am a global variable

In [12]:
def arithmetic_operations(a, b):
    print("Addition:", a + b)
    print("Subtraction:", a - b)
    print("Multiplication:", a * b)
    print("Division:", a / b)

arithmetic_operations(10, 5)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [14]:
def increment_decrement(value):
    value += 1
    print("After Increment:", value)
    value -= 1
    print("After Decrement:", value)

increment_decrement(5)

After Increment: 6
After Decrement: 5

In [16]:
def check_equality(a, b):
    if a == b:
        print("Both numbers are equal")
    else:
        print("Numbers are not equal")

check_equality(10, 20)

Numbers are not equal

In [18]:
def relational_operators(a, b):
    print("a < b:", a < b)
    print("a <= b:", a <= b)
    print("a > b:", a > b)
    print("a >= b:", a >= b)

relational_operators(10, 20)

a < b: True
a <= b: True
a > b: False
a >= b: False

In [20]:
def find_smaller_larger(a, b):
    smaller = min(a, b)
    larger = max(a, b)
    print("Smaller Number:", smaller)
    print("Larger Number:", larger)

find_smaller_larger(10, 20)

Smaller Number: 10
Larger Number: 20

In [22]:
for _ in range(10):
    print("Bright IT Career")

Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career

In [24]:
num = 1
while num <= 20:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [26]:
a, b = 10, 20
print("a == b:", a == b)
print("a != b:", a != b)

a == b: False
a != b: True

In [28]:
def print_odd_even(n):
    print("Even Numbers:")
    for i in range(1, n+1):
        if i % 2 == 0:
            print(i, end=" ")
    
    print("\nOdd Numbers:")
    for i in range(1, n+1):
        if i % 2 != 0:
            print(i, end=" ")

print_odd_even(10)

Even Numbers:
2 4 6 8 10
Odd Numbers:
1 3 5 7 9

In [30]:
def largest_number(a, b, c):
    print("Largest Number:", max(a, b, c))

largest_number(10, 25, 15)

Largest Number: 25

In [32]:
num = 10
while num <= 20:
    if num % 2 == 0:
        print(num)
    num += 1

10
12
14
16
18
20

In [34]:
num = 1
while True:
    print(num)
    num += 1
    if num > 10:
        break

1
2
3
4
5
6
7
8
9
10

In [36]:
def is_armstrong(n):
    sum_of_digits = sum(int(digit) ** len(str(n)) for digit in str(n))
    return n == sum_of_digits

num = 153
print(f"{num} is an Armstrong number" if is_armstrong(num) else f"{num} is not an Armstrong number")

153 is an Armstrong number

In [38]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

num = 29
print(f"{num} is a Prime number" if is_prime(num) else f"{num} is not a Prime number")

29 is a Prime number

In [40]:
def is_palindrome(n):
    return str(n) == str(n)[::-1]

num = 121
print(f"{num} is a Palindrome" if is_palindrome(num) else f"{num} is not a Palindrome")

121 is a Palindrome

In [42]:
def check_even_odd(n):
    switch = {
        0: "Even",
        1: "Odd"
    }
    print(f"{n} is {switch[n % 2]}")

check_even_odd(10)

10 is Even

In [44]:
def get_gender(g):
    switch = {
        'M': "Male",
        'F': "Female"
    }
    print(switch.get(g.upper(), "Invalid Input"))

get_gender('M')

Male

In [46]:
def sum_array(arr):
    return sum(arr)

print(sum_array([1, 2, 3, 4, 5]))

15

In [48]:
def average_array(arr):
    return sum(arr) / len(arr) if arr else 0

print(average_array([1, 2, 3, 4, 5]))

3.0

In [50]:
def find_index(arr, element):
    return arr.index(element) if element in arr else -1

print(find_index([10, 20, 30, 40], 30))

2

In [52]:

def contains_value(arr, value):
    return value in arr

print(contains_value([10, 20, 30], 20))

True

In [54]:
def remove_element(arr, value):
    return [x for x in arr if x != value]

print(remove_element([1, 2, 3, 4, 2, 5], 2))

[1, 3, 4, 5]

In [56]:
def copy_array(arr):
    return arr.copy()

original = [1, 2, 3, 4]
copy = copy_array(original)
print(copy)

[1, 2, 3, 4]

In [58]:
def insert_element(arr, index, value):
    arr.insert(index, value)
    return arr

print(insert_element([1, 2, 3, 4], 2, 10))

[1, 2, 10, 3, 4]

In [60]:
def min_max(arr):
    return min(arr), max(arr)

print(min_max([10, 20, 5, 30, 40]))

(5, 40)

In [62]:
def reverse_array(arr):
    return arr[::-1]

print(reverse_array([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [64]:
def find_duplicates(arr):
    seen = set()
    duplicates = set()
    for num in arr:
        if num in seen:
            duplicates.add(num)
        else:
            seen.add(num)
    return list(duplicates)

print(find_duplicates([1, 2, 3, 2, 4, 5, 1]))

[1, 2]

In [66]:
def common_values(arr1, arr2):
    return list(set(arr1) & set(arr2))

print(common_values([1, 2, 3, 4], [3, 4, 5, 6]))

[3, 4]

In [68]:
def remove_duplicates(arr):
    return list(set(arr))

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [70]:
def second_largest(arr):
    unique_sorted = sorted(set(arr), reverse=True)
    return unique_sorted[1] if len(unique_sorted) > 1 else None

print(second_largest([10, 20, 4, 45, 99, 99]))

45

In [72]:
def count_even_odd(arr):
    evens = sum(1 for x in arr if x % 2 == 0)
    odds = len(arr) - evens
    return evens, odds

print(count_even_odd([1, 2, 3, 4, 5, 6]))

(3, 3)

In [74]:
def diff_largest_smallest(arr):
    return max(arr) - min(arr)

print(diff_largest_smallest([10, 20, 5, 30, 40]))

35

In [76]:
def contains_elements(arr, elements):
    return all(elem in arr for elem in elements)

print(contains_elements([10, 12, 15, 23], [12, 23]))

True

In [78]:
def remove_duplicates_new_array(arr):
    return list(dict.fromkeys(arr))

print(remove_duplicates_new_array([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [80]:
class Example:
    static_var = 100  

print(Example.static_var)

100

In [82]:
class Example:
    static_var = 100  

obj = Example()
print(obj.static_var)

100

In [84]:
class Example:
    static_var = 100  

obj1 = Example()
obj1.static_var = 200  

print("obj1:", obj1.static_var)   
print("Example:", Example.static_var)

obj1: 200
Example: 100

In [86]:
class Example:
    static_var = 100  

Example.static_var = 500  

print(Example.static_var)  
obj1 = Example()
print(obj1.static_var)

500
500